.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}

.fa:hover {
    padding: 10px 20px;
}
  
.fa-linkedin {
    background: #3B5998;
    color: white;
}
  
.fa-github {
    background: #24292E;
    color: white;
}

.fa-envelope {
    background: #2b3137;
    color: white;
}

.fa-rss {
    background: #ff9200;
    color: white;
}