@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #e7e7e5;
    font-family: 'Iosevka Web';
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    height: 200px;
    width: 400px;
    background: #f7f5f4;
    border: 6px solid #dedcda;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ufsc {
    position: relative;
    width: 300px;
    filter: grayscale(1);
}

#text {
    font-size: 0.8em;
    margin-top: 20px;
}

#warning {
    color: red;
}
