@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #e7e7e5;
    font-family: 'Iosevka Web';
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.terminal {
    height: 400px;
    width: 700px;
    background: #f7f5f4;
    border: 6px solid #dedcda;
}

.neofetch {
    width: 100%;
    height: 350px;
    display: flex;
}

.image {
    height: 100%;
    width: fit-content;
}

#ufsc {
    position: relative;
    width: 250px;
    filter: grayscale(1);
    margin: 20px;
}

.text {
    width: 410px;
    height: 100%;
}

.text-content {
    margin: 20px;
    overflow: hidden;
}

#bold {
    font-weight: bold;
}

#palette {
    margin-top: 20px;
}

#shell-text {
    margin-left: 20px;
}

input {
    border: 0;
    outline: 0;
    background: #f7f5f4;
    width: 600px;
    font-family: 'Iosevka Web' !important;
}

input:focus {
    outline: none !important;
}